.footer
	.lockup.clearfix		
		.content-wrap
			.nav
				= link_to "Sobre mí", "#"
				= link_to "Estudios", "#"
				= link_to "Experiencias", "#"
				= link_to "Mis gustos", "#"
				= link_to "Contacto", "#"
			%p.copyright By Adrián Escat