.header
	.nav
		.nav-links
			= link_to "Sobre mí", "#"
			= link_to "Mis estudios", "#"
			= link_to "Experiencias", "#"
			= link_to "Mis gustos", "#"
			= link_to "Contacto", "#"
	%h1 Víctor Escat
	%p.slogan Psicólogo // Filósofo