---
title: Víctor Escat
---

= partial "partials/header"
#wrap
	.container.clear-top{id: "main"}
		= partial "partials/about"
		= partial "partials/studies"
		= partial "partials/xp"
		= partial "partials/like"
		= partial "partials/contact"

= partial "partials/footer"